[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "uvicorn src.main:app --reload"

[packages]
fastapi = {extras = ["all"], version = "==0.99.1"}
python-multipart = {version="==0.0.6"}
elasticsearch = {extras = ["async"], version = "==7.10.1"}
httpx = "*"
sqlmodel = "*"
pyhumps = "==3.7.1"
mysqlclient = "==2.2.0"
bcrypt = "==4.0.1"
lxml = "*"
cssselect = "*"
pandas = "*"
requests = "*"
openpyxl = "*"
pydantic-sqlalchemy = "*"
pyjwt = "*"

[dev-packages]
black = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
