[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "uvicorn src.main:app --reload"

[packages]
fastapi = {version="==0.103.2"}
uvicorn = {version="==0.23.2"}
python-multipart = {version="==0.0.6"}
requests = "==2.31.0"
pydantic-settings = "==2.0.3"
elasticsearch = {extras = ["async"], version = "==7.10.1"}
httpx = "*"

[dev-packages]
black = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
